
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Homepage style.css" rel="stylesheet" />
    <style>
        .home_banner_area {
            background-image: url('../../Images/home.jpg');
            position: relative;
            z-index: 0;
            height: 800px;
        }

            .home_banner_area .banner_inner .banner_content {
                color: #000000;
                padding-top: 110px;
                align-self: center;
                vertical-align: middle;
            }

                .home_banner_area .banner_inner .banner_content h1 {
                    font-size: 48px;
                    max-width: 520px;
                    color: #ffffff;
                    margin: 0;
                }

                .home_banner_area .banner_inner .banner_content p {
                    font-size: 14px;
                    line-height: 24px;
                    font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    color: #ffffff;
                    padding: 30px 0px 40px;
                    max-width: 498px;
                    margin: 0;
                }

                .home_banner_area .banner_inner .banner_content .main_btn:hover {
                    background: #ffffff;
                    border: 1px solid #ffffff;
                }

                .home_banner_area .banner_inner .banner_content .white_bg_btn {
                    border: 1px solid rgba(221, 221, 221, 0.30196);
                    background: rgba(255, 255, 255, 0.21);
                    color: #fff;
                    line-height: 50px;
                    border-radius: 5px;
                    display: inline-block;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 14px;
                }

                    .home_banner_area .banner_inner .banner_content .white_bg_btn:hover {
                        background: #3face4;
                        border: 1px solid #3face4;
                    }

        /*.banner-area {
            background-image: url('../../Images/home.jpg');
            background-size: cover;
        }*/

        .banner-area .primary-btn {
            padding-left: 30px;
            padding-right: 30px;
        }

        .banner-area .overlay-bg {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .banner-content {
            text-align: center;
        }

            .banner-content h1 {
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                line-height: 1em;
                margin-top: 20px;
            }

                .banner-content h1 span {
                    font-weight: 700;
                }

        .home_banner_area .banner_inner .banner_content {
            color: #000000;
            padding-top: 110px;
            align-self: center;
            vertical-align: middle;
        }

            .home_banner_area .banner_inner .banner_content h1 {
                font-size: 48px;
                max-width: 520px;
                color: #ffffff;
                margin: 0;
            }

            .home_banner_area .banner_inner .banner_content p {
                font-size: 14px;
                line-height: 24px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                color: #ffffff;
                padding: 30px 0px 40px;
                max-width: 498px;
                margin: 0;
            }

            .home_banner_area .banner_inner .banner_content .main_btn:hover {
                background: #ffffff;
                border: 1px solid #ffffff;
            }

            .home_banner_area .banner_inner .banner_content .white_bg_btn {
                border: 1px solid rgba(221, 221, 221, 0.30196);
                background: rgba(255, 255, 255, 0.21);
                color: #fff;
                line-height: 50px;
                border-radius: 5px;
                display: inline-block;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 14px;
            }

                .home_banner_area .banner_inner .banner_content .white_bg_btn:hover {
                    background: #3face4;
                    border: 1px solid #3face4;
                }

        .banner-area {
            background-image: url('Images/home.jpg');
            background-size: cover;
        }

            .banner-area .primary-btn {
                padding-left: 30px;
                padding-right: 30px;
            }

            .banner-area .overlay-bg {
                background-color: rgba(0, 0, 0, 0.5);
            }

        .banner-content {
            text-align: center;
        }

            .banner-content h1 {
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                line-height: 1em;
                margin-top: 20px;
            }

                .banner-content h1 span {
                    font-weight: 700;
                }
    </style>
</head>
<body>
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">

            </div>b
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">

                    <a class="navbar-brand logo_h" href="index.html">
                        
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <div class="row ml-0 w-100">
                            <div class="col-lg-12 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                   
                                    <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patient</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link">@Html.ActionLink("Update ", "Update", "Patient")</a>
                                                <a class="nav-link">@Html.ActionLink("Search", "Search", "Patient")</a>
                                                <a class="nav-link">@Html.ActionLink("Delete ", "Delete", "Patient")</a>
                                            </li>
                                        </ul>
                                    <li class="nav-item">
                                    <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community Leader</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link">@Html.ActionLink("Update Leader", "Update", "CommunityLeader")</a>
                                                <a class="nav-link">@Html.ActionLink("Search Settings", "Search", "CommunityLeader")</a>
                                                <a class="nav-link">@Html.ActionLink("Delete", "Delete", "CommunityLeader")</a>
                                            </li>
                                        </ul>
                                    
                                        @*<li class="nav-item">
                        <a class="nav-link" href="elements.html">Elements</a>
                    </li>

            </li>
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="single-blog.html">Blog Details</a>
                    </li>
                </ul>
            </li>*@

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content row">
                    <div class="col-lg-12">
                        <h1>One healthy Nation for all</h1>
                        <p>
                            @*If you are looking at blank cassettes on the web, you may be very confused at the difference in price You may see some
                                for as low as each.*@
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="procedure_category section_gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1 style="text-align:center">Get Started</h1>
                    <p style="text-align:center">
                        Select what you want to do?
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="categories_post">
                <img src="~/Images/b3.jpg" />
                <div class="categories_details">
                    <div class="categories_text">
                        <div class="border_line"></div>
                        <a href="single-blog.html">
                            <h5>@Html.ActionLink("Register Patient", "Index", "Patient")</h5>
                        </a>
                        <div class="border_line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="categories_post">
                <img src="~/Images/b2.jpg" />
                <div class="categories_details">
                    <div class="categories_text">
                        <div class="border_line"></div>
                        <a href="single-blog.html">
                            <h5>@Html.ActionLink("Collection","Index","Location")</h5>
                        </a>
                        <div class="border_line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="categories_post">

                <img src="~/images 2/people-hands-holding-hands-simple-background-wallpaper-thumb.jpg" />
                <div class="categories_details">
                    <div class="categories_text">
                        <div class="border_line"></div>
                        <a href="single-blog.html">
                            <h5>@Html.ActionLink("Community Leader", "Index", "CommunityLeader")</h5>
                        </a>
                        <div class="border_line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
